/* Gobal styles */
body {
  font-family: "Sawarabi Gothic", sans-serif;
  box-sizing: border-box;
  font-size: 14px;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.space-between-centered {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h4 {
  font-weight: bolder;
  font-size: 50px;
}
